<h1>Workouts#day</h1>
<p>Find me in app/views/workouts/day.html.erb</p>

<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

<br>
<b>Organization:</b> <%= @organization %>
<br>
<b>Year:</b> <%= @year %>
<br>
<b>Month:</b> <%= @month %>
<br>
<b>Day:</b> <%= @day %>