<!-- Title -->
<h2 class="featurette-heading">
  <%= activity_title %>
  <%= render "shared/month_datepicker" %>
  <span class="muted">All Users</span>
</h2>

<table id="user-activities" class="table  table-striped">
  <tr>
    <th></th>
    <% list_days_in_month.each do |day| %>
    <th>
      <%= link_to_day(day) %>
    </th>
    <% end %>
  </tr>
  
  <% group_activities_by_user(@users_activities).each do |user, activities| %>
  <tr>
    <td class="user_circ_picture">
      <%= image_tag user_picture_src(user.username), title: user.name, "data-toggle"=> "tooltip" %>
    </td>

    <!-- Days+Activities -->
    <% list_days_in_month.each do |day| %>
      <td>
        <% @activity_types.each do |activity_type| %>
          <%= activity_type_bullet_by_date(activity_type, activities, day) %>
        <% end %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>