<!-- Title -->
<h2 class="featurette-heading">
  <%= activity_title %>
  <%= render "shared/month_datepicker" %>
  <span class="muted"><%= @user_name %></span>
</h2>

<table class="table  table-striped">
  <tr>
    <th>Day </th>
    <% @activity_types.each do |activity_type| %>
    <th><%= image_tag(activity_type.image, "data-bind" => "tooltip: true", "data-original-title" => activity_type.name) %></th>
    <% end %>
  </tr>

  <% group_activities_by_day(@activities).each do |date, activities| %>
  <tr>
    <td><%= link_to_day(date.day) %></td>
    <% @activity_types.each do |activity_type| %>
    <td><%= activity_type_bullet(activity_type, activities) %></td>
    <% end %>
  </tr>
  <% end %>
  <%= easter_egg_user_not_found(@user_exists) %>
</table>